@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IStringLocalizer<LanguageResources> localizer

<AuthorizeView>
    <Authorized>
        <div style="margin-right:20px">
            <NavLink class="text-white nav-link">@context.User.Identity.Name</NavLink>
        </div>
        <MudIconButton Icon="@Icons.Material.Outlined.ExitToApp" Color="Color.Inherit" OnClick="BeginSignOut"></MudIconButton>
    </Authorized>
    <NotAuthorized>
        <NavLink class="text-white nav-link" href="authentication/login">@localizer["LogIn"]</NavLink>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut()
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
