
@inherits LayoutComponentBase
@inject IStringLocalizer<LanguageResources> localizer
 
<MudLayout>
    <MudAppBar Elevation="4" Color="Color.Primary">
        <MudIcon Icon="@DeveloperPathIcon.DeveloperPath" Size="Size.Large" ViewBox="0, 0, 400,400"></MudIcon>
        <MudHidden Breakpoint="Breakpoint.Xs">
            <MudText Typo="Typo.h3" Class="mainheader">
              <a href="/">@localizer["DeveloperPath"]</a>
            </MudText>
        </MudHidden>
        <MudToolBar DisableGutters="true">
            <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" OnClick="DrawerToggle" Class="ml-3" />
        </MudToolBar>
        <MudSpacer />
        <CultureSelector></CultureSelector>
        <ThemeSelector></ThemeSelector>
        <LoginDisplay></LoginDisplay>
    </MudAppBar>
    <MudDrawer @bind-open="DrawerOpened" Elevation="25" ClipMode="DrawerClipMode.Always">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>


@code
{
    bool DrawerOpened = true;

    void DrawerToggle()
    {
        DrawerOpened = !DrawerOpened;
        StateHasChanged();
    }
}