/* _content/themesof.net/Shared/CompletionDialog.razor.rz.scp.css */
.completion-list[b-uq5tp80t0e] {
    height: 12rem;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: white;
    overflow-y: scroll;
}

.completion-list-item[b-uq5tp80t0e] {
    padding: 0.1rem 0.5rem;
}

.completion-list-item:hover[b-uq5tp80t0e] {
    cursor: pointer;
    background-color: lightgray;
}

.completion-list-item.selected[b-uq5tp80t0e] {
    background-color: lightgray;
}

@media (prefers-color-scheme: dark) {
    .completion-list[b-uq5tp80t0e] {
        border-color: gray;
        background-color: black;
    }    
   
    .completion-list-item:hover[b-uq5tp80t0e] {
        background-color: #404040;
    }
    
    .completion-list-item.selected[b-uq5tp80t0e] {
        background-color: #404040;
    }
}
/* _content/themesof.net/Shared/MainLayout.razor.rz.scp.css */
.page[b-2h5lfzba8u] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-2h5lfzba8u] {
    flex: 1;
}

.sidebar[b-2h5lfzba8u] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-2h5lfzba8u] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-2h5lfzba8u]  a, .top-row .btn-link[b-2h5lfzba8u] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-2h5lfzba8u] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-2h5lfzba8u] {
        display: none;
    }

    .top-row.auth[b-2h5lfzba8u] {
        justify-content: space-between;
    }

    .top-row a[b-2h5lfzba8u], .top-row .btn-link[b-2h5lfzba8u] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-2h5lfzba8u] {
        flex-direction: row;
    }

    .sidebar[b-2h5lfzba8u] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-2h5lfzba8u] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-2h5lfzba8u], article[b-2h5lfzba8u] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
