@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div style="margin-right:20px">
            <NavLink class="text-white nav-link">@context.User.Identity.Name</NavLink>
        </div>
      
            <MatIconButton Icon="exit_to_app" OnClick="BeginSignOut" Style="color:white"></MatIconButton>
        
    </Authorized>
    <NotAuthorized>
        <NavLink class="text-white nav-link" href="authentication/login">Log In</NavLink>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut( )
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
