.input-field input[type]:not([readonly]),
.input-field input[type]:focus:not([readonly]),
.input-field textarea:not([readonly]),
.input-field textarea:focus:not([readonly]) {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
}

    .input-field input[type]:focus:not([readonly]) + label,
    .input-field textarea:focus:not([readonly]) + label {
        color: #0277bd;
    }

.material-icons.active {
    color: #0277bd
}

.input-field .prefix.active {
    color: #0277bd
}


.input-field input[type].invalid,
.input-field input[type].invalid:focus,
.input-field textarea.invalid,
.input-field textarea.invalid:focus {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
}

    .input-field input[type].invalid:focus + label,
    .input-field input[type].invalid ~ .helper-text::after,
    .input-field input[type].invalid:focus ~ .helper-text::after,
    .input-field textarea.invalid:focus + label,
    .input-field textarea.invalid ~ .helper-text::after,
    .input-field textarea.invalid:focus ~ .helper-text::after {
        color: #e57373;
    }

.input-field input[type].valid,
.input-field input[type].valid:focus,
.input-field textarea.valid,
.input-field textarea.valid:focus {
    border-bottom: 1px solid #0277bd;
    box-shadow: 0 1px 0 0 #0277bd;
}

    .input-field input[type].valid:focus + label,
    .input-field input[type].valid ~ .helper-text::after,
    .input-field input[type].valid:focus ~ .helper-text::after,
    .input-field textarea.valid:focus + label,
    .input-field textarea.valid ~ .helper-text::after,
    .input-field textarea.valid:focus ~ .helper-text::after {
        color: #0277bd;
    }

.helper-text {
    color: #e57373 !important
}
.validation-invalid {
    color: #e57373 !important
}