@page "/administration/paths"
@inject IStringLocalizer<LanguageResources> localizer

<AuthorizeView>
    <Authorized>
        @if (Paths == null)
        {
            <MudProgressLinear Indeterminate="true"></MudProgressLinear>
        }
        else
        {
           

        }
    </Authorized>
    <NotAuthorized>
        <p>Forbid</p>
    </NotAuthorized>
</AuthorizeView>
