@page "/test"

@using Microsoft.AspNetCore.Authorization


@inject HttpClient Http
@attribute [Authorize]


<label>@StatusCode @Result</label>

@code {

    public string Result { get; set; }
    public string StatusCode { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var res = await  Http.GetAsync("https://localhost:7001/TestAuth");
        Result = await res.Content.ReadAsStringAsync();
        StatusCode = res.StatusCode.ToString();
        StateHasChanged();
    }
}
