@model IdentityProvider.Models.Account.LoginViewModel
<div class="container">
    <div class="row h-50"> </div>
    <div class="row h-50"> </div>
    <div class="row h-100"> </div>
    <div class="row">
        <div class="col s10 m6 l4">
            <div class="card">
                <div class="card-content">
                    <div class="center"><span class="card-title">Войти</span></div>
                    <form asp-route="Login">
                        <input type="hidden" asp-for="ReturnUrl"/>
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input asp-for="Username" type="text" class="validate">
                            <label asp-for="Username">Имя пользователя (login)</label>
                            <span class="helper-text" asp-validation-for="Username"></span>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">remove_red_eye</i>
                            <input asp-for="Password" type="password" class="validate">
                            <label asp-for="Password">Пароль</label>
                            <span class="helper-text" asp-validation-for="Password"></span>
                        </div>
                        <div class="center">
                            <div asp-validation-summary="ModelOnly" class="helper-text"></div>
                        </div>
                        <div class="row">
                            <p class="col text-right">
                                <label>
                                    <input asp-for="RememberLogin" type="checkbox"/>
                                    <span>Оставаться в системе?</span>
                                </label>
                            </p>
                        </div>
                        <div class="center">
                            <button class="btn light-blue darken-3" name="button" value="login">&nbsp;&nbsp;&nbsp;&nbsp;Вход&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </div>
                    </form>
                    <div class="row"> </div>
                    <div>
@*                        <div class="row">
                            <div class="center">
                                <a asp-controller="Account" asp-action="Login">Забыли пароль?</a>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="center">
                                <text>Нет аккаунта?</text><a asp-controller="Register" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl"> Зарегистрироваться</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

