@page "/"

@inject IStringLocalizer<LanguageResources> localizer

<h1>@localizer["Welcome"]</h1>
<AuthorizeView>
    <Authorized>
        <h2>
            Hello @context.User.Identity.Name
        </h2>
        @* TODO: add Paths user is studying *@
    </Authorized>
    <NotAuthorized>
        <p>
            @((MarkupString)localizer["HomeDescription"].ToString())
        </p>
    </NotAuthorized>
</AuthorizeView>

<p>@((MarkupString)localizer["ProjectReferences"].ToString())</p>